* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: cornsilk;
}

.textoEncriptador {
    position: absolute;
    width: 40%;
    height: 55%;
    left: 10%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    background-color: cornsilk;
    resize: none;
    outline: none;
}

.textoEncriptador::placeholder {
    color: rgb(201, 131, 46);
}

.textoEncriptador:active {
    border: none;
    outline: none;
}

.regla {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 72%;
}

.regla p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    color: dimgrey;
    opacity: 0.8;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    gap: 20px;
    width: 75%;
    top: 75%;
}

.botonEncriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 25%;
    background-color: rgb(201, 131, 46);
    border-radius: 15px;
    font-family: "Inter";
    font-size: 1.15rem;
    line-height: 5px;
    text-align: center;
    color: white;
}

.botonEncriptar:hover {
    margin: 0.3%;
    width: 24%;
    padding: 1.8%;
    font-size: 1rem;
}

.botonDesencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: white;
    border: 2px solid black;
    border-radius: 15px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 5px;
    text-align: center;
    color: rgb(201, 131, 46);
}

.botonDesencriptar:hover {
    margin: 0.3%;
    width: 24%;
    padding: 1.8%;
    font-size: 1rem;
}

.botonCopiar {
    width: 35%;
    line-height: 250%;
    background: white;
    border: 2px solid black;
    margin: 20px 0;
    border-radius: 15px;
    font-size: 1rem;
}

.botonCopiar:hover {
    width: 33%;
    font-size: 0.90rem;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background-color: white;
    box-shadow: 6px 5px 15px -8px black;
    border-radius: 32px;
}

.textoEncriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
}

.textoEncriptado h2 {
    width: 85%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    color: black;
}

.textoEncriptado p {
    width: 80%;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 150%;
    color: rgb(85, 85, 85);
}

.resultado {
    width: 90%;
    border: none;
    height: 10vw;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 150%;
    color: rgb(85, 85, 85);
    resize: none;
    outline: none;
}

.encriptado img {
    position: absolute;
    width: 75%;
    height: 45%;
    top: 5%;
}

@media (max-width: 57.5em) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .encriptador {
        width: 100%;
    }

    .textoEncriptador {
        width: 77%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .regla {
        width: 80%;
        left: 10%;
        top: 65%;
    }

    .regla p {
        font-size: 1rem;
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 68%;
    }

    .botonEncriptar,
    .botonDesencriptar {
        width: 48%;
        border-radius: 16px;
        padding: 4%;
    }

    .botonEncriptar:hover,
    .botonDesencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 3.5%;
    }

    .encriptado {
        width: 77%;
        height: 20%;
        left: 10%;
        top: 73%;
    }

    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }

    .textoEncriptado {
        width: 75%;
        top: 10%;
    }

    .textoEncriptado h2 {
        width: 100%;
        font-size: 1.40rem;
    }

    .textoEncriptado p {
        width: 75%;
        font-size: 1rem;
    }

    .resultado {
        width: 120%;
        line-height: 120%;
        font-size: 1rem;
    }
}